<html lang="en">
	<head>
		<title>SAMPLE</title>
	</head>
	<body>
		<form action="user" method="post">
			<table>
				<tr>
				<td>
				<label for="name">Name  </label></td>
				<td><input type="text"  name="name"></input></td>
				</tr>
				<tr>
				<td>
				<label for="email">Email </label></td>
				<td><input type="email" name="email"></input></td>
				</tr>
				<tr>
				<td>
				<label>Password </label></td>
				<td><input type="password" name="password"></input></td>
				</tr>
				<tr>
			<td><input type="submit" value="Submit"></input></td>
			<td><input type="reset" value="Clear"></input></td></tr></table>
		</form>
	</body>
</html>